<p style="color: blue"><%= notice %></p>

<h1>this tag needs to have the total for the day </h1>

<%# this will have the calc day display  %>

<div id="entries">
  <% @entries.each do |entry| %>
    <%= render entry %>
    <p>
      <%= link_to "Show this entry", entry %>
    </p>
  <% end %>
</div>

<%= link_to "New entry", new_entry_path %>
<%# this is the entry conatiner and the children  %>
