<% content_for :title do %>
 <img src="/assets/calorie.gif"> &ndash; <%= Date.today %>
<% end %>

<div class="columns mt-6 is-centered">
  <div class="card-content">
   <div class="content">
    <p>Meal type </p>
    <p> Calories </p>
    <p> Carbohydrates </p>
    <p> proteins </p>
    <p> fats </p>
    <p colspan="3"></p>
    
  </div>
</div>
</div>
<%# this will have the calc day display  %>
<div class="columns mt-6 is-centered">
  <div id="entries">
    <% @entries.each do |entry| %>
      <%= render entry %>
      <button>
        <%= link_to "Show this entry ", entry %>
      </button>
      
    <% end %>
  </div>
</div>
<div class="columns mt-6 is-centered" >
  <button>
        <%= link_to " New entry", new_entry_path %>
  </button>
</div>

<%# this is the entry conatiner and the children  %>
